.wrapper{
    border:none;
    background-color:transparent ;
    cursor: pointer;
    padding: 5px ;
    border-radius: 5px;
    margin-right: 5px;
    &:hover{
        background-color:rgba(227, 218, 218,.7);    
    }
    & > img{
        height:40px;
    }
}